dotnet/Web References/Dsf4_v_2015_08_10/AntallInnbyggere.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://ws.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/AntallInnbyggere.xsd" targetNamespace="http://ws.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/AntallInnbyggere.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://ws-test.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/GlobaleElementer.xsd" />
  <xsd:include schemaLocation="http://ws-test.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/GlobaleTyper.xsd" />
  <xsd:complexType name="AntallInnbyggere">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="RESULT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="KOMM" type="tns:Tkomnr">
              <xsd:annotation>
                <xsd:documentation xml:lang="no">Bo-kommune nummer.</xsd:documentation>
                <xsd:documentation xml:lang="en">Live-in communenumber.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="KONA" type="tns:Tkomnavn">
              <xsd:annotation>
                <xsd:documentation xml:lang="no">Bo kommune navn.</xsd:documentation>
                <xsd:documentation xml:lang="en">Live-in communename.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="ANTALL" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="no">Antall</xsd:documentation>
                <xsd:documentation xml:lang="en">Amount</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="MESSAGE" type="tns:MESSAGE" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>