dotnet/Web References/Dsf4_v_2015_08_10/Brukersesjon.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://ws.infotorg.no/xml/Admin/Brukersesjon/2006-07-07/Brukersesjon.xsd" targetNamespace="http://ws.infotorg.no/xml/Admin/Brukersesjon/2006-07-07/Brukersesjon.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation xml:lang="no">
            Datatyper for sesjon mot BackOffice.

            ?? 2006 ErgoGroup AS
            Forfatter: Dag Lem &lt;dag@nimrod.no&gt;
            QA: Morten Haugen &lt;morten.haugen@ifront.no&gt;
        </documentation>
  </annotation>
  <element name="hentAutorisasjon">
    <complexType />
  </element>
  <element name="loggInn">
    <complexType>
      <sequence>
        <group ref="tns:innlogging" />
      </sequence>
    </complexType>
  </element>
  <element name="loggInnWeb">
    <complexType>
      <sequence>
        <group ref="tns:innlogging" />
      </sequence>
      <attribute name="autorisasjonsnoekkel" type="tns:autorisasjonsnoekkel" use="required" />
    </complexType>
  </element>
  <element name="loggInnSSO">
    <complexType>
      <sequence>
        <group ref="tns:innlogging" />
      </sequence>
      <attribute name="autorisasjonsnoekkel" type="tns:autorisasjonsnoekkel" use="required" />
    </complexType>
  </element>
  <element name="loggUt">
    <complexType />
  </element>
  <element name="OK">
    <complexType />
  </element>
  <simpleType name="brukernavn">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="12" />
    </restriction>
  </simpleType>
  <simpleType name="passord">
    <restriction base="string">
      <minLength value="5" />
      <maxLength value="12" />
    </restriction>
  </simpleType>
  <simpleType name="autorisasjonsnoekkel">
    <restriction base="string">
      <minLength value="10" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <element name="byttPassord">
    <complexType>
      <sequence>
        <group ref="tns:bp" />
        <element name="nyttPassord" type="tns:passord" />
      </sequence>
    </complexType>
  </element>
  <group name="bp">
    <sequence>
      <element name="brukernavn" type="tns:brukernavn" />
      <element name="passord" type="tns:passord" />
    </sequence>
  </group>
  <simpleType name="distribusjonskanal">
    <restriction base="string">
      <enumeration value="PTP" />
      <enumeration value="GUI" />
    </restriction>
  </simpleType>
  <simpleType name="systemnavn">
    <annotation>
      <documentation xml:lang="no">NB! Ikke benytt mellomrom i systemnavn.</documentation>
      <documentation xml:lang="en">NB! Do not use spaces in "systemnavn".</documentation>
    </annotation>
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="11" />
    </restriction>
  </simpleType>
  <group name="akkreditering">
    <sequence>
      <choice>
        <group ref="tns:bp" />
      </choice>
      <element minOccurs="0" name="delegertBrukernavn" type="tns:brukernavn" />
    </sequence>
  </group>
  <group name="innlogging">
    <sequence>
      <element name="distribusjonskanal" type="tns:distribusjonskanal" />
      <element name="systemnavn" type="tns:systemnavn" />
      <group ref="tns:akkreditering" />
    </sequence>
  </group>
  <element name="Brukersesjon">
    <complexType>
      <sequence>
        <group minOccurs="0" ref="tns:innlogging" />
        <element minOccurs="0" name="sesjonsid" type="string" />
      </sequence>
      <anyAttribute processContents="skip" />
    </complexType>
  </element>
  <element name="Autorisasjon">
    <complexType>
      <sequence>
        <element name="byttPassord" type="boolean" />
        <element name="sesjonstimeout" nillable="true" type="duration" />
        <element name="passordutloep" nillable="true" type="dateTime" />
        <element name="brukerutloep" nillable="true" type="dateTime" />
        <element name="ulestPost" type="boolean" />
        <element name="ulestMelding" type="boolean" />
        <element name="tjenester">
          <complexType>
            <sequence>
              <element minOccurs="0" maxOccurs="unbounded" name="tjeneste">
                <complexType>
                  <sequence>
                    <element name="navn" type="string" />
                    <element name="datakilde" type="string" />
                    <element name="produkter">
                      <complexType>
                        <sequence>
                          <element minOccurs="0" maxOccurs="unbounded" name="produkt">
                            <complexType>
                              <sequence>
                                <element name="navn" type="string" />
                                <any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                              </sequence>
                            </complexType>
                          </element>
                        </sequence>
                      </complexType>
                    </element>
                    <any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element minOccurs="0" maxOccurs="1" name="autosysSelskap" nillable="true" type="string" />
        <element name="oppdaterKontaktinfo" type="boolean" />
        <any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
      </sequence>
    </complexType>
  </element>
</schema>