dotnet/Web References/Dsf4_v_2015_08_10/SjekkResept.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://ws.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/SjekkResept.xsd" targetNamespace="http://ws.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/SjekkResept.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://ws-test.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/GlobaleElementer.xsd" />
  <xsd:include schemaLocation="http://ws-test.infotorg.no/xml/ErgoGroup/DetSentraleFolkeregister1_4/2015-08-10/include/GlobaleTyper.xsd" />
  <xsd:complexType name="SjekkResept">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="RESULT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="gyldig" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="no">OK, IKKE OK</xsd:documentation>
                <xsd:documentation xml:lang="en">OK, IKKE OK = NOT OK</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="aarsak" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="no">Årsaken til hvorfor svaret er 'IKKE OK'</xsd:documentation>
                <xsd:documentation xml:lang="en">The reason why the response is 'IKKE OK'</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>