dotnet/Web References/Dsf4_v_2015_08_10/Transaksjon.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://ws.infotorg.no/xml/Admin/Transaksjon/2006-07-07/Transaksjon.xsd" targetNamespace="http://ws.infotorg.no/xml/Admin/Transaksjon/2006-07-07/Transaksjon.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <documentation xml:lang="no">
            Felles datatyper for transaksjoner.

            ?? 2006 ErgoGroup AS
            Forfatter: Dag Lem &lt;dag@nimrod.no&gt;
            QA: Morten Haugen &lt;morten.haugen@ifront.no&gt;
        </documentation>
  </annotation>
  <element name="Transaksjon">
    <complexType>
      <sequence>
        <element minOccurs="0" name="referanse" type="string" />
        <element minOccurs="0" name="visDetaljer" type="boolean" />
        <element minOccurs="0" name="visResponstid" type="boolean" />
        <element minOccurs="0" name="visRaadata" type="boolean" />
        <element minOccurs="0" name="saksreferanse" type="string">
          <annotation>
            <documentation xml:lang="no">Dette er et felt som skal inneholde brukernavn eller lignende som identifiserer lokal bruker i det integrerende system. Dette anbefales benyttet mot alle tjenester, men er obligatorisk for oppslag i Det sentrale Folkeregister, Det sentrale Motorvognregister og kredittopplysninger fra Experian og Soliditet.</documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="klientip" type="string" />
      </sequence>
      <anyAttribute namespace="http://schemas.xmlsoap.org/soap/envelope/" processContents="skip" />
    </complexType>
  </element>
  <complexType name="raadata">
    <sequence>
      <element name="spoerring" nillable="true" type="string" />
      <element name="svar" nillable="true" type="string" />
      <any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </sequence>
  </complexType>
  <complexType name="responstid">
    <sequence>
      <element name="total" type="duration" />
      <element name="intern" type="duration" />
      <element name="backOffice" type="duration" />
      <element name="datakilde" type="duration" />
      <any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </sequence>
  </complexType>
  <complexType name="debitering">
    <sequence>
      <element name="debitert" type="integer" />
      <any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </sequence>
  </complexType>
  <group name="produktid">
    <sequence>
      <element name="datakilde" type="string" />
      <element name="tjeneste" type="string" />
      <element name="produkt" type="string" />
    </sequence>
  </group>
  <element name="Transaksjonsinfo">
    <complexType>
      <sequence>
        <element name="sammendrag">
          <complexType>
            <sequence>
              <group ref="tns:produktid" />
              <element name="referanse" nillable="true" type="string" />
              <element name="antallTransaksjoner" type="integer" />
              <element name="debitering" type="tns:debitering" />
              <element minOccurs="0" name="responstid" type="tns:responstid" />
            </sequence>
          </complexType>
        </element>
        <element minOccurs="0" name="detaljer">
          <complexType>
            <sequence>
              <element minOccurs="0" maxOccurs="unbounded" name="transaksjon">
                <complexType>
                  <sequence>
                    <group ref="tns:produktid" />
                    <element name="debitering" type="tns:debitering" />
                    <element minOccurs="0" name="responstid" type="tns:responstid" />
                    <element minOccurs="0" name="raadata" type="tns:raadata" />
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>